* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    }

    /* ...............HEAD............... */


    .header-logo {
        width: 150px;
        height: auto;
    }

    header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
		background-color: #AE0204;
        padding-top: 30px;
        padding-inline: 100px;
        padding-bottom: 50px; 
        margin-top: -20px;  
     
    } 
    
    nav ul {
        color: #faf6e9;
        list-style: none;
        display: flex;
        flex-direction: row;
        font-family: 'glory', sans-serif;
        font-weight: bold;
        gap: 20px;
    }
    
    .header-logo {
        width: 150px;
        height: auto;
    }
    
    #header-info-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 150px;
    }
/* ..............MAIN BODY....................... */
