/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: #AE0204;
    padding-top: 30px;
    padding-inline: 100px;
    padding-bottom: 100px;
    margin: 0;
}

.top-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
    gap: 190px;
    margin-bottom: 100px;
}

.header-logo {
    width: 150px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-family: 'Glory', sans-serif;
    font-weight: bold;
    gap: 10px;
}

nav ul li a {
    text-decoration: none;
    padding: 6px 13px;
    color: #faf6e9;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #680203;
    border-radius: 3px;
}

/* Greeting Section */
.greet {
    text-align: center;
    color: #faf6e9;
    font-family: 'Glory', sans-serif;
    font-size: 1rem;
    margin: 0;
}

.greet h3 {
    font-size: 2.5rem;
}

.greet h2 {
    font-size: 2.5rem;
    color: #ffeaa6;
}

.greet p {
    color: #efefef;
    font-size: 1.2rem;
    margin-top: 5px;
}

/* Main Content */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 40px;
}

section h2 {
    font-family: 'Glory', sans-serif;
    font-size: 2rem;
    color: #AE0204;
    margin-bottom: 10px;
}

/* Projects Section */
.project {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Glory', sans-serif;
}

.project img {
    width: 290px;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}

.project p {
    text-align: justify;
    margin: 20px;
}

/* Contact Section */
#contact a {
    color: #AE0204;
    text-decoration: none;
    font-weight: bold;
}

#contact a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #004B46;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 10px;
    color: white;
    font-family: 'Glory', sans-serif;
}

footer a {
    color: #ffcc00;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
